body {
  color: #5a6772;
  font-family: "Poppins", sans-serif;
}

.header .navbar-collapse .nav-item .nav-link {
  color: #5a6772;
  font-weight: 400;
}

.header .navbar-collapse .nav-item .nav-link.active {
  color: #150544;
  font-weight: 500;
}

section {
  padding: 50px 0 70px 0;
}

section .sec-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 12px;
}

section .sec-header {
  margin-bottom: 70px;
}

section.sec-enterprice {
  background-image: url(/assets/img/bg-enterprise-mask.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 992px) {
  section.sec-enterprice .sec-enterprice__features {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  section.sec-enterprice .sec-enterprice__features .sec-enterprice__card {
    padding: 25px 40px;
  }
}

section.sec-enterprice .sec-enterprice__features .sec-enterprice__card .icons {
  height: 70px;
  width: 70px;
  border-radius: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

section.sec-pricing {
  position: relative;
}

section.sec-pricing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 560px;
  bottom: 0;
  left: 0;
  background: #e7f6ff;
  z-index: -1;
}

section.sec-pricing .sec-pricing__list {
  margin-bottom: 70px;
}

section.sec-pricing .sec-pricing__list .card {
  padding: 12px 30px 30px 30px;
  margin: 0 25px;
  border-radius: 12px;
}

@media only screen and (min-width: 992px) {
  section.sec-pricing .sec-pricing__list .card {
    max-width: 320px;
  }
}

section.sec-pricing .sec-pricing__list .card.card-lifetime .card-tag {
  padding: 12px 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

section.sec-pricing .sec-pricing__list .card.card-lifetime .card-outer {
  border-left: 2px solid #150544;
  border-right: 2px solid #150544;
  border-bottom: 2px solid #150544;
  padding-bottom: 30px !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

section.sec-pricing .sec-pricing__list .card .card-header {
  border-bottom: 1.5px solid #dfe2e4;
}

section.sec-pricing .sec-pricing__list .card .card-header h5 {
  font-size: 16px !important;
}

section.sec-pricing .sec-pricing__list .card .card-header h5 span {
  font-weight: bold;
  font-size: 52px;
  line-height: 78px;
}

section.sec-pricing .sec-pricing__list .card .card-body ul {
  margin-bottom: 20px;
}

section.sec-pricing .sec-pricing__list .card .card-body ul .features {
  margin: 12px 0;
}

section.sec-pricing .sec-pricing__list .card .card-body ul .features .checklist {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 999px;
  margin-right: 14px;
}

section.sec-testimonial {
  padding-top: 120px;
  background-image: url(/assets/img/bg-testimonial-mask.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.sec-testimonial blockquote {
  margin-bottom: 50px;
  position: relative;
}

@media only screen and (min-width: 992px) {
  section.sec-testimonial blockquote {
    width: 60%;
  }
  section.sec-testimonial blockquote::before {
    content: "\201C";
    font-family: "Georgia", serif;
    display: block;
    font-size: 230px;
    position: absolute;
    left: -90px;
    top: -120px;
    color: #614ef5;
  }
}

section.sec-testimonial blockquote span {
  border-bottom: 1px solid #614ef5;
}
/*# sourceMappingURL=core.css.map */